span.line {
  display: inline-block;
  vertical-align: top;
}

.fb-like {
  vertical-align: top;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main.wrap {
  flex: 1;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  text-align: center;
}
